.App {
  text-align: center;
}

.leftMenuWrapper {
  width: 200px;
  position: relative;
  float: left;
  background-color: antiquewhite;
}

.container {
  position: relative;
  float: left;
}

.container::after {
  clear: both;
}

.parent {
  background-color: darkslateblue;
}

.child {
  background-color: aliceblue;
}

.aroundParent {
  background-color: lightcoral;
}
